 <main class="holder">
        <div class="columnas">
            <div class="columna left">
                <h2>Contacto Rápido</h2>
                <form action="/contacto" method="post" class="formulario">
                    <p>
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </p>
                    <p>
                        <label for="">Email</label>
                        <input type="text" name="email" required>
                    </p>
                    <p>
                        <label for="">Teléfono</label>
                        <input type="text" name="tel" required>
                    </p>
                    <p>
                        <label for="">Comentarios</label>
                        <textarea name="comentarios" required></textarea>
                    </p>
                    <p class="acciones">
                        <input type="submit" value="Enviar">
                    </p>
                </form>
                {{message}}
            </div>
            <div class="columna right">
                <h2>Otras Vías de Contacto</h2>
                <p>También se pueden contactar con nosotros a través de los siguientes medios:</p>
                <ul>
                    <li>Teléfono: 123456789</li>
                    <li>Email:contacto@transportesx.com.ar</li>
                    <li>Twitter</li>
                    <li>Fb:</li>
                </ul>
            </div>  
        </div>
    </main>