 <main class="holder">
       <h2>Galería</h2>
       <div class="galeria">
           <div class="foto">
               <img src="images/galeria/ch/img01.jpg" alt="img01">
           </div>
           <div class="foto">
            <img src="images/galeria/ch/img02.jpg" alt="img02">
        </div>
        <div class="foto">
            <img src="images/galeria/ch/img03.jpg" alt="img03">
        </div>
        <div class="foto">
            <img src="images/galeria/ch/img04.jpg" alt="img04">
        </div>
        <div class="foto">
            <img src="images/galeria/ch/img05.jpg" alt="img05">
        </div>
        <div class="foto">
            <img src="images/galeria/ch/img06.jpg" alt="img06">
        </div>
        <div class="foto">
            <img src="images/galeria/ch/img07.jpg" alt="img07">
        </div>
       </div>
    </main>