
    <main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="avión">
        </div>
        <div class="columnas">
            <div class="bienvenidos left">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus ullam animi molestiae sequi officiis assumenda quia placeat harum autem aliquid eos reiciendis fuga consectetur numquam, deserunt quasi nesciunt similique cum.</p>
            </div>
            <div class="testimonios right">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">Juan Gómez - zapatos.com</span>
                </div><!-- cierra testimonio -->
            </div><!-- cierra testimonios -->
        </div> <!-- cierra columnas-->
    </main>
  


