<main class="holder">
    <section class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, modi explicabo. Quae explicabo,
            consectetur vero eum facilis, quis fugiat provident minus porro doloribus iure consequuntur nostrum possimus
            maiores aspernatur. Sint!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eaque nostrum. Commodi in quibusdam, quod,
            quas beatae nam praesentium voluptates et repellat perspiciatis laudantium inventore dolorem cupiditate
            nobis nesciunt rem.</p>
    </section>
    <section class="staff">
        <h2>Staff</h2>
        <div class="personas">
            <div class="persona sinmargen">
                <figure>
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gómez" />
                    <h5>Juan Gómez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error est dignissimos dolor quidem
                        exercitationem voluptate omnis ipsa, velit provident tempore aperiam repellat fugiat quisquam
                        natus nihil vel praesentium voluptas inventore?</p>
                </figure>

            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana Gómez" />
                    <h5>Diana Gómez</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error est dignissimos dolor quidem
                        exercitationem voluptate omnis ipsa, velit provident tempore aperiam repellat fugiat quisquam
                        natus nihil vel praesentium voluptas inventore?</p>
                    <!-- se puede poner p adentro si quiero ponerlo como una bajada -->
                </figure>

            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto Gómez" />
                    <h5>Roberto Gómez</h5>
                    <h6>Gerente Sistemas</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error est dignissimos dolor quidem
                        exercitationem voluptate omnis ipsa, velit provident tempore aperiam repellat fugiat quisquam
                        natus nihil vel praesentium voluptas inventore?</p>
                </figure>

            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra Gómez" />
                    <h5>Sandra Gómez</h5>
                    <h6>Gerente Marketing</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error est dignissimos dolor quidem
                        exercitationem voluptate omnis ipsa, velit provident tempore aperiam repellat fugiat quisquam
                        natus nihil vel praesentium voluptas inventore?</p>
                </figure>

            </div>
            <div class="persona">
                <figure>
                    <img src="images/nosotros/nosotros5.jpg" alt="José Gómez" />
                    <h5>José Gómez</h5>
                    <h6>Gerente Logística</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error est dignissimos dolor quidem
                        exercitationem voluptate omnis ipsa, velit provident tempore aperiam repellat fugiat quisquam
                        natus nihil vel praesentium voluptas inventore?</p>
                </figure>

            </div>

        </div>

    </section>



</main>