<main class="holder">


        <h2>Novedades</h2>
        <div class="novedades">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus voluptas aperiam eum qui fugit eligendi nesciunt illum, perspiciatis aliquid ex, consequuntur magnam architecto est sunt ad consequatur libero. Natus.</p>
            <hr/>
        </div>
        <div class="novedades">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus voluptas aperiam eum qui fugit eligendi nesciunt illum, perspiciatis aliquid ex, consequuntur magnam architecto est sunt ad consequatur libero. Natus.</p>
            <hr/>
        </div>
        <div class="novedades">
            <h3>Título</h3>
            <h4>Subtítulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus voluptas aperiam eum qui fugit eligendi nesciunt illum, perspiciatis aliquid ex, consequuntur magnam architecto est sunt ad consequatur libero. Natus.</p>
            <hr/>
        </div>
    </main>