<main class="holder">
       <h2>Servicios</h2>
       <div class="servicio">
           <figure>
               <img src="images/servicios/ferroviario.jpg" alt="Tren">
           </figure>
           <div class="info">
               <h4>Transporte Ferroviario</h4>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea velit aperiam ad, quisquam blanditiis odio consequatur officiis. Deserunt commodi eveniet quae excepturi, voluptatibus aliquid itaque veritatis similique nesciunt reprehenderit rem?</p>

           </div>
       </div>
       <div class="servicio">
        <figure>
            <img src="images/servicios/aereo.jpg" alt="Avión">
        </figure>
        <div class="info">
            <h4>Transporte Aéreo</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea velit aperiam ad, quisquam blanditiis odio consequatur officiis. Deserunt commodi eveniet quae excepturi, voluptatibus aliquid itaque veritatis similique nesciunt reprehenderit rem?</p>

        </div>
    </div>
    <div class="servicio">
        <figure>
            <img src="images/servicios/maritimo.jpg" alt="Barco">
        </figure>
        <div class="info">
            <h4>Transporte Marítimo</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea velit aperiam ad, quisquam blanditiis odio consequatur officiis. Deserunt commodi eveniet quae excepturi, voluptatibus aliquid itaque veritatis similique nesciunt reprehenderit rem?</p>

        </div>
    </div>
    <div class="servicio">
        <figure>
            <img src="images/servicios/terrestre.jpg" alt="Camión">
        </figure>
        <div class="info">
            <h4>Transporte Transporte</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea velit aperiam ad, quisquam blanditiis odio consequatur officiis. Deserunt commodi eveniet quae excepturi, voluptatibus aliquid itaque veritatis similique nesciunt reprehenderit rem?</p>

        </div>
    </div>

    </main>